*{
  margin: 0%;
  padding: 0%;
}

.task-list-container {
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width:50%;
  overflow: hidden;
  margin-left: 60px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ebebeb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item input[type="checkbox"] {
  margin-right: 12px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #757575;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.todo-item input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.todo-item input[type="checkbox"]:checked::after {
  content: '\2714';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-item span {
  flex-grow: 1;
  font-size: 16px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #757575;
}

.todo-item input[type="text"] {
  flex-grow: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
}

.task-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f5f5f5;
  font-size: 14px;
}

.task-count {
  color: #b1b1b1;
}

.filter-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  color: #757575;
  font-size: 14px;
}

.filter-buttons button.active {
  color: #757575;
}

.clear-completed {
  background: none;
  border: none;
  cursor: pointer;
  color: #757575;
  font-size: 14px;
}

.clear-completed:hover {
  text-decoration: underline;
}
